// Body

$blue: #4099ff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #ff5370 !default;
$orange: #fd7e14 !default;
$yellow: #ffb64d !default;
$green: #2ed8b6 !default;
$teal: #20c997 !default;
$cyan: #42c0fb !default;
